.size_sm {
  width: 20px;
}

.bg_cstm{
  background-image: url(images/sushi_bg.jpg) ;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}